@config "../../tailwind.config.ts";
@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-qp-bg text-slate-100 antialiased;
}

@layer utilities {
  .focus-ring {
    @apply outline-none focus-visible:ring-2 focus-visible:ring-qp-primary focus-visible:ring-offset-2 focus-visible:ring-offset-qp-bg;
  }
}
